* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
ul, li {
    padding: 0;
    margin: 0;
}

.content-grid {
    max-width: 1024px;
}

// .mdl-cell {
//     padding: 0;
// }

// .mdl-list {
//     margin: 0;
// }